@page
@model FSW.Core.ModelBase<Tests.Pages.IndexModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<style>
    .colTest {
        background-color: rgba(109, 109, 109, 0.47)
    }
</style>

<div id="TestGantt" style="height: 95%; width: 100%"></div>
